#blocklyArea {
    // height: calc(95% - 4.5rem); /* Header height plus margin */
    height: 100%;
    margin: 0;
    padding: 0;
}

#blocklyDiv {
    position: absolute;
}

.modal-body {
    text-align: center;
}

.modal-body input {
    margin: 15px 0;
}
