#blocklyArea {
    // height: calc(95% - 4.5rem); /* Header height plus margin */
    height: 100%;
    margin: 0;
    padding: 0;
}

#blocklyDiv {
    cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    position: absolute;
}

.modal-body {
    text-align: center;
}

.modal-body input {
    margin: 15px 0;
}
