:host {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
:host>.container-fluid {
    background-color: #ffffff;
    color: #616161;
    display: inline-block;
    height: 100%;
    margin: 0;
    width: 100%;
}

#codePreview {
    background-color: rgb(44, 71, 98);
    color: #b5d1e4;
    cursor: text;
    font-family: monospace;
    font-weight: bold;
    margin-top: 20px;
    max-height: 100%;
    overflow: auto;
    padding: 10px;

    -webkit-user-select: text;  
    -moz-user-select: text;    
    -ms-user-select: text;      
    user-select: text;

    &::selection {
        background: #b5d1e4;
        color: rgb(44, 71, 98);
    }
}