.project-title {
    font-size: 2rem;
}
.custom-file-control::before {
    content: "Navegar";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-control::after {
    content: "Seleccionar directorio...";
}