<div class="container-fluid" id="contenido">
  <div class="row align-items-center h-100">
    <div class="col-6 offset-3">
      <div class="row align-items-center">
        <div class="col-4">
          <img src="../../../assets/img/ciaabot-blanco.svg" id="logo" alt="">
        </div>
        <div class="col-8 recent-project-list">
          <div class="row" style="margin-left: 10px;" *ngIf="projectService.getRecentProjects().length > 0">
            <p class="lead" style="font-weight: 400">Proyectos recientes</p>
            <div id="recent-projects">
              <div *ngFor="let project of projectService.getRecentProjects()" (click)="openRecentProject(project)" class="recent-project">
                <div class="row">
                  <div class="col">
                    <div class="ellipsis">{{project.name}}</div>
                    <div class="path text-muted ellipsis">{{project.projectFile}}</div>
                  </div>
                  <div class="col-1">
                    <i class="fa fa-times delete-recent-project" (click)="removeRecentProject($event, project)" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
          <div class="row" style="margin-left: 10px;">
            <div class="col-3">
              <button type="button" [routerLink]="['../project']" class="btn action">
                <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                <small>Nuevo Proyecto</small>
              </button>
            </div>
            <div class="col">
              <button type="button" (click)="openProject()" class="btn action">
                <i class="fa fa-folder-open-o fa-2x" aria-hidden="true"></i>
                <small>Abrir Proyecto</small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>