#contenido {
    height: 100%;
}

#logo {
    opacity: 0.2;
    width: 100%;
}

.recent-project-list {
    border-left: 1px solid rgba(181, 209, 228, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

#recent-projects {
    float: left;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.recent-project {
    border: 1px solid rgba(181, 209, 228, 0.1);
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;

    & * {
        cursor: pointer;
    }

    &:hover {
        background: rgba(181, 209, 228, 0.1);
        border-color: transparent;
    }

    & .path {
        font-size: 80%;
        width: 100%;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button.btn.action {
    background: transparent;
    color: #b5d1e4;

    & small {
        display: block;
        font-size: 0.7rem;
        margin-top: 5px;
    }
}