<div class="container-fluid" id="contenido">
  <div class="row align-items-center h-100">
    <div class="col-xl-8 offset-xl-2 col-10 offset-1">
      <div class="row align-items-center">
        <div class="col-md-4 col-12">
          <img src="../../../assets/img/ciaabot-blanco.svg" id="logo" alt="">
        </div>
        <div class="col-md-8 col-12 recent-project-list">
          <div *ngIf="projectService.getRecentProjects()">
            <div class="row" style="margin-left: 10px;" *ngIf="projectService.getRecentProjects().length > 0">
              <p class="lead" style="font-weight: 400">Proyectos recientes</p>
              <div id="recent-projects">
                <div *ngFor="let project of projectService.getRecentProjects()" (click)="openRecentProject(project)" class="recent-project">
                  <div class="row">
                    <div class="col-10">
                      <div class="ellipsis">{{project.name}}</div>
                      <div class="path text-muted ellipsis">{{project.projectFile}}</div>
                    </div>
                    <div class="col-2 text-right">
                      <i class="fa fa-times delete-recent-project" (click)="removeRecentProject($event, project)" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="row" style="margin-left: 10px;">
            <div class="col">
              <button type="button" [routerLink]="['../project']" class="btn action">
                <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                <small>Nuevo Proyecto</small>
              </button>
              <button type="button" (click)="openProject()" class="btn action">
                <i class="fa fa-folder-open-o fa-2x" aria-hidden="true"></i>
                <small>Abrir Proyecto</small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>