html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.contenido-principal {
  height: 100vh;
  width: 100vw;
}

.contenido-principal .row {
  height: 100%;
}

.contenido {
    background: #1f3042;
    color: white;
}

#header {
  background: #2c4762;
  color: white;
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  width: 100%;
  -webkit-app-region: drag;

  & #icon {
    float: left;
    max-width: 20px;
  }

  & .controls {
    -webkit-app-region: no-drag;
  }

  & button.btn, button.btn:focus {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #b5d1e4;
    font-size: 12px;
    font-weight: 100;
    height: 22px;
    padding: 0;
    transition: all .3s ease;
    vertical-align: top;
    width: 41px;

    &.close-btn:hover {
      background: #D9534F;
      color: white;
    }

    &:hover {
      background: #b5d1e4;
      color: #2c4762
    }

    & img {
      width: 100%;
    }
  }
}