<div class="container-fluid" id="blocklyArea">
  <div id="blocklyDiv"></div>
</div>


<div [hidden]="true" [outerHTML]="toolboxContent"></div>

<div bsModal #promptModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="promptModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{promptModalTile || 'Ingrese valor'}}</h4>
      </div>
      <div class="modal-body">
        {{promptModalDesc}}
        <input type="text" [(ngModel)]="promptValue" class="form-control">
        <button type="button" class="btn btn-secondary" (click)="promptModal.hide(); promptReady();">
          Ok
        </button>
        <button type="button" class="btn btn-secondary" (click)="promptModal.hide();">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>