<div class="container-fluid sidebar text-center">
  <div class="row item">
    <div class="col">
      <a [routerLink]="['home']" [routerLinkActive]="['active']" ><i class="fa fa-list-ul fa-2x" placement="right" tooltip="Inicio"></i></a>
    </div>
  </div>
  <div class="row item">
    <div class="col">
      <a [routerLink]="['editor']" [routerLinkActive]="['active']"><i class="fa fa-puzzle-piece fa-2x" style="padding-left: 3px;" placement="right" tooltip="Editor"></i></a>
    </div>
  </div>
  <div class="row item">
    <div class="col">
      <a [routerLink]="['configuration']" [routerLinkActive]="['active']"><i class="fa fa-cog fa-2x" placement="right" tooltip="Configuración"></i></a>
    </div>
  </div>
  <div class="row item">
    <div class="col">
      <a [routerLink]="['ayuda']" [routerLinkActive]="['active']"><i class="fa fa-question-circle fa-2x" placement="right" tooltip="Ayuda"></i></a>
    </div>
  </div>
</div>