<div class="container-fluid">
  <img src="../../../assets/img/ciaabot-blanco.svg" id="logo" alt="">
  <button [routerLink]="['project']" type="button" class="btn btn-outline-primary"><i class="fa fa-file" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-outline-primary"><i class="fa fa-lg fa-folder-open-o" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-outline-primary" (click)="saveProject()"><i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-outline-primary" [routerLink]="['configuration']"><i class="fa fa-lg fa-cog" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-outline-primary" [routerLink]="['help']"><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>


  
</div>

<div class="modal fade" *ngIf="dialog" bsModal #confirmationModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header {{dialog.titleClass}}">
        <h4 class="modal-title pull-left">
          <i class="fa {{dialog.titleIcon || 'fa-exclamation-triangle'}}" aria-hidden="true"></i>
          {{dialog.title || 'Atención'}}
        </h4>
        <button type="button" class="close pull-right" *ngIf="dialog.canDismiss" aria-label="Cerrar" (click)="confirmationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{dialog.description || 'Ocurrió un problema'}}
        <hr>
        <button type="button" class="btn {{option.class}}" *ngFor="let option of dialog.options" (click)="option.callback(); confirmationModal.hide()">
          <i class="fa {{option.icon || ''}}" aria-hidden="true"></i>
          {{option.text}}
        </button>
      </div>
    </div>
  </div>
</div>