/* You can add global styles to this file, and also import other style files */
html, body {
  background: #2c4762 !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect * {
  cursor: default;
}