<div class="container-fluid sidebar text-center">
<i class="fa fa-lg fa-ellipsis-h" aria-hidden="true" style="color: #1f3042;"></i>
  <a [routerLink]="['home']" [routerLinkActive]="['active']" placement="right" tooltip="Inicio">
    <div class="row item">
      <div class="col">
        <i class="fa fa-list-ul fa-lg"></i>
      </div>
    </div>
  </a>

  <a [routerLink]="['editor']" *ngIf="projectService.existsOpenProject()" [routerLinkActive]="['active']"  placement="right" tooltip="Editor">
    <div class="row item">
      <div class="col">
        <i class="fa fa-puzzle-piece fa-lg" style="padding-left: 3px;"></i>
      </div>
    </div>
  </a>
</div>