.sidebar {
    min-height: calc(100vh - 40px);
    background-color: #2c4762;
    border-top: 2px solid #1f3042;
    color: #b5d1e4;
    display: inline-block;
    float: left;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
                0 4px 5px 0 rgba(0,0,0,.14),
                0 1px 10px 0 rgba(0,0,0,.12);
    padding: 0;
    width: 50px;
}

a .row.item{
    border-bottom: 1px solid transparent;
    color: #b5d1e4;
    margin: 0;
    padding: 10px 0;
    transition: all ease 0.3s;
}

a:hover .row.item {
    background-color: #2c4762;
}

a:hover .row.item {
    background-color: darken(#b5d1e4, 20%);
    color: #2c4762 !important;
}

a.active .row.item {
    background-color: #b5d1e4;
    color: #2c4762 !important;
}